{% extends "blog/base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
<h1>Search</h1>
<form method="get" action="{% url 'blog:post_search' %}">
    <input type="text" name="q" placeholder="Enter search term..." value="{{ query|default_if_none:'' }}">
    <button type="submit" class="btn btn-primary">Search</button>
</form>

{% if query %}
<h2>Results for "{{ query }}":</h2>
{% for post in results %}
<div>
    <h3>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </h3>
    <p>{{ post.body|truncatewords:30 }}</p>
</div>
{% empty %}
<p>No results found.</p>
{% endfor %}
{% endif %}
{% endblock %}